N2YO_API_KEY=change-me
N2YO_BASE_URL=https://api.n2yo.com/rest/v1/satellite
N2YO_TIMEOUT_SECONDS=10
OPEN_METEO_ELEVATION_URL=https://api.open-meteo.com/v1/elevation
OPEN_METEO_TIMEOUT_SECONDS=10
REONA_DEFAULT_SEARCH_RADIUS=70
REONA_DEFAULT_CATEGORY_ID=0
